<html>
  <head>
    <meta charset='UTF-8'>
    <style>
      ul {
        list-style: none;
        padding-left: 0;
      }
      ul li::before {
        content: "🎲";
        margin-right: 8px;
        }
    </style>
  </head>
  <body>
    <h1>Super Fun Dice Roll Extravaganza</h1>
    <ul>
      <li><a href="/dice/1/6">1d6</a></li>
      <li><a href="/dice/2/6">2d6</a></li>
      <li><a href="/dice/1/10">1d10</a></li>
      <li><a href="/dice/2/10">2d10</a></li>
      <li><a href="/dice/1/20">1d20</a></li>
      <li><a href="/dice/2/20">2d20</a></li>
    </ul>
  </body>
</html>
